*{
    margin: 0cm;
    padding: 0cm;
    box-sizing: border-box;
    font-family: "New Amsterdam", sans-serif;

}

.header {
    width: 100%;
    height: 820px;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(212, 40%, 24%, 0.544), hsla(219, 41%, 13%, 0.545)), url(../images/fondo2.jpg);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(212, 40%, 24%, 0.402), hsla(220, 40%, 13%, 0.399)), url(../images/fondo2.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    background-size: cover;
    background-attachment: fixed;

}

.logo {
    width: 65px;
    height: 55px;
    justify-content: center;
}

.a-list {
    justify-content:space-evenly;
    display: flex;
    align-items: center;
}
.a-list > li {
    list-style: none;
    height: 92px;
    display: flex;
    align-items: center;
}
nav > ul > li > a {
    color: white;
    font-size: 18px;
    margin-right: 50px;
    text-decoration: none; /* quita subrayado */
    font-weight: 800; /* cambia la fuente */
}

nav > ul > li > a:hover {
    text-decoration: underline;
}

div > .titulo {
    display: flex;
    justify-content: center;
    color:azure;
    margin-top: 90px;
    font-size: 70px;
}
.numero {
    font-size: 60px;
    margin-left: 10px;
    color: aliceblue;
    font-weight: bolder;
}

.logros {
    font-size: 19px;
    color: azure;
}

.portada {
    display: flex;
    justify-content: center;
    height: 250px;
    width: 100%;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
    margin-top: 30px;    
}

.cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SECTION TWO ; QUIENES SOMOS */

.nosotros {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 425px;

}

.title2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    font-size: 25px;  
}

.subtitle2{
    width: 260px;
}

.qs_image > .imageqs {
    width: 500px; 
    margin: 45px;  
}

.qs_text {
    position: relative;
}

.qs_text > p {
    position: absolute;
    bottom: 7rem;
    left: -7rem;
    width: 360px;
    background: black;
    color: aliceblue;
    height: 75px;
    text-align: center;
    padding: 15px;
}



/* SECTION THREE ; MISIÓN */

.mision {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 425px;
    background: gainsboro;
}

.title3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    font-size: 25px;  
}

.mision_img >.imagems {
    width: 500px;
    margin: 42px;
}

.ms_text {
    position: relative;
}

.ms_text > p {
    position: absolute;
    bottom: 7rem;
    left: 16rem;
    width: 360px;
    background: black;
    color: aliceblue;
    height: 75px;
    text-align: center;
    padding: 15px;
}





/* SECTION FOUR ; SERVICES */

.service {
    /* background: #f2f2f2; */
    background: black;
    
}

.title4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    height: 100px;
    font-size: 30px;
    color: aliceblue;
}

.serv-galery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.serv-image {
    width: 33%;
    margin-bottom: 10px;
    height: 240px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    
}

.serv-image > h3 {
    position: absolute;
    z-index: 1;
}

.serv-galery > h3{
    color: #141E30;
    
}

.serv-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;  
    opacity: 0.6;
}

.hover-serv {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0); 
    background: hsla(212, 85%, 16%, 0.812);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-serv h4{
    color: aliceblue;
    font-size: 20px;
    
} 

.hover-serv p{
    color: aliceblue;
    font-size: 15px;
}

.title-serv:hover {
    display: none;
}


.serv-image:hover .hover-serv{
    transform:scale(1) ;
}


/* SECTION FIVE ; SEDES */

.sedes{
    background: gainsboro;
    
}
.sede_title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    height: 100px;
    font-size: 30px;
}

.sede1 > .img_sede1 {
   width: 700px; 
   margin-bottom: 50px;
} 

.sede2 > .img_sede2 {
    width: 700px;
    margin-bottom: 50px;
}

.img_sedes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* SECTION SIX ; COLUMNAS */

.col_title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 30px;
}
.col_gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.as_legales {
    width: 300px;
    height: 140px;
    margin-bottom: 30px;
}
.republica {
    width: 300px;
    height: 140px;
    margin-bottom: 30px;
}
.tiempo {
    width: 300px;
    height: 140px;
    margin-bottom: 30px;
}
.portafolio {
    width: 300px;
    height: 140px;
    margin-bottom: 20px;
}
.espectador {
    width: 300px;
    height: 140px;
    margin-bottom: 20px;
}
.patria {
    width: 300px;
    height: 140px;
    margin-bottom: 20px;
}

.link_col{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 15px;
}
.ver_col{
    text-decoration: none; 
    color: hsla(212, 100%, 10%, 0.801);
    
}

.ver_col:hover{

    text-decoration: underline;
}









