*{
    margin: 0cm;
    padding: 0cm;
    box-sizing: border-box;
    font-family: "New Amsterdam", sans-serif;

}
.header {
    background: -webkit-linear-gradient(to right, hsla(212, 40%, 24%, 0.544), hsla(219, 41%, 13%, 0.545)), url(../images/Fondo1.jpg);  

}